@font-face {
font-family: 'TTHoves';
src: url('woff2/TTHoves-Hairline.woff2') format('woff2');
font-weight: 200;
font-style: normal;
}
@font-face {
font-family: 'TTHoves';
src: url('font/TTHoves-Light.woff2') format('woff2');
font-weight: 300;
font-style: normal;

}
@font-face {
font-family: 'TTHoves';
src: url('font/TTHoves-Regular.woff2') format('woff2');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'TTHoves';
src: url('font/TTHoves-Medium.woff2') format('woff2');
font-weight: 500;
font-style: normal;
}


:root{
/*Miscellaneous*/
--font-family:'TT Hoves';
--f-weight-200: 200;
--f-weight-300: 300;
--f-weight-400: 400;
--f-weight-500: 500;
--f-name-card: 24px;
--f-size-card: 40px;
--border-r-8: 8px;
--border-r-16: 16px;
--p-4:4px;
--p-8:8px;
--p-50:50%;
}

body::-webkit-scrollbar{
/*Display stuff*/
display: none;
position: fixed;
}

.main-content::-webkit-scrollbar{
/*Display stuff*/
display: none;
}
.overlay{
display: none;
width: 100%;
height: 100%;
background-color: #00000030;
transition: all 1s ease ;
animation: button 1s ease both;
position: fixed;
cursor:alias;
border-radius: 16px;
-moz-border-radius:16px;
clip-path: fill-box;
z-index: 99;
-webkit-clip-path: fill-box;
transition: all 1s ease ;
/* -webkit-backdrop-filter: blur(0px);
backdrop-filter: -webkit-backdrop-filter(0px); */
animation: button 1s ease both;
-webkit-clip-path: inset(0%);
-moz-border-radius:16px;
}

.filter{
  mix-blend-mode: multiply;
}
.click{
  cursor: pointer;
  margin-right: 8px;
}

.main{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #00000018;
  clip-path: fill-box;
  border-radius: 16px;
  -webkit-clip-path: inset(0%);
  -moz-border-radius:16px;
  }

.main-content{
flex: 1;
border-radius: 16px;
overflow: auto;
height: 90vh;
margin: 0px 8px;
clip-path: fill-box;
-webkit-clip-path: inset(0%);
-moz-border-radius:16px;
height: max-content;
}

.content{
  flex: 1;
  border-radius: 16px;
  -moz-border-radius:16px;
  clip-path: fill-box;
  -webkit-clip-path: inset(0%);
  -moz-border-radius:16px;
}

/* #modal-1{
  
bottom: 80px;

} */
.modal{
z-index: 100;
margin: 0px 8px;
padding: 8px;
position: fixed;
bottom: -1080px;
left: 0;
align-content: center;
right: 0;
border-radius: 16px;
clip-path: fill-box(0px);
-webkit-clip-path: url(.content);
-moz-border-radius:16px;
transition: all 1s ease;
background-color: #ffffff;
}


.line {
  display: flex;
  margin: 8px calc(50% - 22px);
  width: 42px;
  height: 3px;
  border-radius: 40px;
  background-color: #c5c5c5;
}

.name-card.alt {
  display: inline-flex;
  font-size: 64px;
  letter-spacing: -0.06em;
  font-weight: 300;
  line-height: 0.8;
  vertical-align: bottom;
  flex-direction: row;
  align-items: flex-end;
  height: min-content;
  outline: 1px solid #00000020;
}

.size-card.alt{
  font-family: 'TTHoves';
  font-variant-numeric:diagonal-fractions;
  font-weight:300;
  line-height: 0.8;
  font-size: 64px;
  letter-spacing: -0.08em;
  text-transform: lowercase;
  color: #909495;
}
.spec-sheets{
  display: inline-grid;
  grid-template-columns: auto auto 80%;
  column-gap: 4px;
  width: 100%;
  margin-left: 16px;
  margin-top: 8px;
}

.chips-sheets{
font-size: 16px;
font-weight: 500;
padding: 6px 8px;
border-radius: 16px;
background-color: #daf145a8;
}

.size-card.alt.size{
  letter-spacing: 0rem;
}

.lexan-text{
  display: grid;
  grid-template-columns: auto 1% auto;
}

.hero-sheets{
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 8px;
align-items:flex-end;
}

.info-sheets{
display: flex;
flex-direction: column;
border-radius: 8px;
clip-path: fill-box;
}

.image-sheets{
display: flex;
justify-content: space-between;
align-items: center;
align-content: center;
flex-direction: column;
border-radius: 8px;
margin: 8px 0px;
text-align: center;
}

.img{
  height: 120px;
  width: 68vw;
  object-fit: contain;
  padding-bottom: 10px;
}
.c-block{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
}
.c-line{
  position: fixed;
  background-color: #ff000009;
  width: 8px;
  height: 100vh;
  z-index: 999;
}

.spec-group{
  display: flex;
  background-color: #00000002;
}
.sheets-spec{
  display: flex;
  flex-direction: column;
  min-width: 147px;
  flex: 1;
  padding: 12px 4px 4px 4px;
  background-color: #00000006;
  border-radius: 8px;
}

.h-dv{
  width: 4px;
  height: 0px;
  opacity: 0;
}
.v-dv{
width: 90%;
border: none;
height: 4px;
}

.sheets-grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
.add{
  padding: 8px 0px;
}
.big {
  font-size: 16px;
  font-weight: 400;
  padding: 24px;
  background-color: #00000006;
}

.features-group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.wide{
  height: 0px;
}

.features{
display: flex;
justify-content: space-between;
flex-direction: column;
border-radius: 9px;
padding: 10px;
min-width: 100px;
flex: 1;

}

.icolr{
  background-color:#FAFBFB;
}
.colr{
  background-color: #FAFBFB;
}
.h{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
  padding: 16px 20px;
}

.features-size-alt{
font-family: 'TTHoves';
font-size: 20px;
font-weight: 500;
color: #000;
line-height: 0.9;
letter-spacing: -0.02em;
word-spacing: -1px;
}

.features-size{
font-family: 'TTHoves';
font-size: 20px;
font-weight: 500;
color: #000;
line-height: 0.9;
letter-spacing: -0.02em;
padding-bottom: 8px;
word-spacing: -1px;
}

.features-cap{
font-family: 'TTHoves';
font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: -0.02em;
color:#A2B2B8;
}





@keyframes button {
from {
display: none;
}
to {
display: block;
}
}


body {
position: fixed;
top:0; left:0;
width: 100%;
margin: 0px;
font-family: 'TTHoves';
appearance: none;
-ms-user-select: none; 
-moz-user-select: none; 
-webkit-user-select: none; 
user-select: none;
}



.header {
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
margin: 0px 14px;
height: 100px;
gap: 8px;
}

.navigation{
display: flex;
flex-direction: row;
height: 80px;
}













div, p, h2, img{
margin: 0px;
}

.l-header{
/*Display stuff*/
display: flex;
flex: 1;
flex-direction: row;
align-content: center;
align-items: center;
height: 100%;
gap: 8px;
}
.hero{
height: 44px;     
font-family: 'TTHoves';
font-size: 64px;
font-weight: 400;
color: #141414;
vertical-align: top;
line-height:50%;
letter-spacing: -0.05em;
}

.r-header{
display: flex;
flex: 1;
align-items: center;
justify-content: flex-end;
height: 100%;
text-align: right;
}

.time{
font-size: 47px;
font-weight: 400;
text-align: right;
text-transform: lowercase;
color: #14141470;
line-height: 0.8;
letter-spacing: -0.05em;
}

#panel {
  display: none;
}
.divide{
  width: 100%;
  height: 4px;

}

.card{
display: flex;
justify-content: space-around;
width: 100%;
padding: 16px;
border: none;
border-radius: 16px;
background-color: #FFFFFF;
appearance: none;
cursor:cell;
margin: 0;
} 
.l-card{
flex: 1;
width: 50%;
height: 100%;
text-align: start;
}

.spec{
  display: flex;
  -webkit-clip-path: inset( 0% round 94px);
  clip-path: inset(0% round 94px);
  border-radius: 908px;
  width:-webkit-fit-content;
}
  .chips{
  width:-webkit-fit-content;
  padding: 2px 8px; 
  border-radius: 4px;
  background-color: #DAF145;
  font-family: 'TTHoves';
  font-size: var(--f-size-card);
  font-size: 14px;
  font-weight: 500;
  }
  .metal{
    background: rgb(229,243,254);
    background: linear-gradient(90deg, rgb(228, 242, 254) 0%, rgba(161,201,233,1) 100%);
    padding-bottom: 4px;
  }
  .chips.plastic{
    border-radius: 96px;
    background-color: hsl(208, 12%, 90%);
    padding-bottom: 4px;
  }

.name-card{
  display: flex;
}
  .text-card{
  padding: 8px 0px 8px 0px;
  font-family:  'TTHoves';
  font-size: var(--f-name-card);
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: -0.06em;
  font-variant-numeric:diagonal-fractions;
  }

  .text-card.lexan {
    margin-left: 8px;
    letter-spacing: 0px;
  }

  .size-card{
  font-family:  'TTHoves';
  font-size: var(--f-size-card);
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.05em;
  padding-top: 8px;
  }

.r-card{
  flex: 1;
  width: 50%;
  background-color: hsl(208, 1%, 109%);
  border-radius: 12px;
  /* padding-bottom: 8px; */
}
.image{
height: 7rem;
}




/* NAVIGATION */
.section {
display: flex;
flex: 1;
flex-direction: column;
align-content: space-between;
justify-content: center;
text-align: center;
}
.section label {
display: flex;
flex-direction: column;
align-content: center;
align-items: center;
gap: 4px;
}

/* Checked */
.section input[type=radio]:checked + label>.icon-chips {
/*Box model stuff*/
padding: 8px 24px;
background: #D1ED17;  
/*Manipulations stuff*/
transition: all 0.7s cubic-bezier(0.26, 1.34, 0.41, 0.94);
}

.section input[type=radio]{
/*Display stuff*/
display: none;
}
.icon-chips{
display: flex;
padding: 8px;
border-radius: 400px;
}

.icon-chips>img{
/*Box model stuff*/
height: 14px;
}

.text{
/*Typography stuff*/
font-family:  'TTHoves';
font-size: 14px;
font-weight: 500;
/*Miscellaneous*/
letter-spacing: -0.02em;
}
